$main-font: 'Roboto-Regular', 'Arial', sans-serif;
$secondary-font: 'Roboto-Medium', 'Arial', sans-serif;

$main-font-size: 14px;
$title-font-size: 16px;

$main-font-weight: 400;
$second-fond-weight: 500;

$main-black-color: #000000;
$main-white-color: #ffffff;
$secondary-font-color: rgba(0, 0, 0, 0.6);

$main-background-color: #77c1bb;
$secondary-background-color: #addad6;
$main-txt-color: #2e2e2e;
