$main-font: 'Roboto', 'Arial', sans-serif;

$main-font-size: 14px;

$main-font-weight: 400;
$second-fond-weight: 500;

$main-black-color: #000000;
$main-white-color: #ffffff;

$main-background-color: #78c0bc;
$main-txt-color: #2e2e2e;
