.film-details {
  width: 88vw;
  min-width: 300px;
  max-width: 500px;
  margin-bottom: 20px;
  margin: 0 auto;

  &-title {
    font-family: $secondary-font;
    font-size: $title-font-size;
  }

  &-image {
    margin-bottom: 20px;
  }

  &-semititle {
    font-size: $title-font-size;
  }

  &-text {
    font-family: $main-font;
    font-size: $main-font-size;
    color: $secondary-font-color;
  }

  &__button-back {
    display: block;
    width: 94px;
    margin: 20px auto 20px;
    padding: 0;
    border: none;
    outline: none;
    font-size: $title-font-size;
    font-weight: 800;
    background-color: $main-white-color;
    cursor: pointer;

    &:hover {
      border-radius: 6px;
      color: #556270;
      box-shadow: 0 0 1px 1px $main-txt-color;
      transition: all 0.3s ease 0s;
    }
    &:active {
      background-color: #92979755;
      box-shadow: 0 0 3px 3px #273b3a;
      color: $main-white-color;
    }
  }
}

.film-info {
  margin-bottom: 40px;
  list-style: none;

  &-item {
    display: flex;
    justify-content: space-evenly;

    &__note {
      display: inline-block;
      font-family: $main-font;
      font-size: 13px;
      line-height: 27px;
      width: 40%;
      color: $secondary-font-color;
    }
  }
}

.green-item {
  background-color: $secondary-background-color;
}

.first-none {
  margin-left: 10px;
}
